<% include ../header.ejs %>
<style>
    #followerList li {
        list-style: none;
        padding-left: 0;
    }

    .friendDetail {
        border: solid 1px #e1e8ed;
        border-radius: 5px;
        padding: 10px;
        margin: 5px 10px 5px 0;
        overflow: hidden;
    }

    #followerList div {
        margin-bottom: 5px;
    }
</style>
</head>
<body>
<% include ./navigator.ejs %>
<header>
    <ul class="nav nav-tabs">
        <li role="presentation" class="<%= followingActive %>">
            <a href="<%= followingLink %>">我的关注</a>
        </li>
        <li role="presentation" class="<%= followerActive %>">
            <a href="<%= followerLink %>">关注我的</a>
        </li>
    </ul>
</header>
<div id="friendList" ng-app="friendListApp">

    <!--关注我的-->
    <ul id="followerList" ng-controller="followerListCtrl" style="display: <%= followerDisplay %>">
        <li ng-repeat="followerList in followerLists" class="col-sm-4">
            <!--[{"0":{"id":"test",following:[]}},{"1":{}}]-->
            <div class="friendDetail">
                <div class="avatar col-sm-4">
                    <img ng-src="../{{ followerList.avatar }}"
                         width="64" height="64" alt="Avatar"/>
                </div>
                <div class="col-sm-8">
                    <div>
                        <a href='/u/{{ followerList.id }}'>
                            <span ng-bind="followerList.id"></span>
                        </a>
                        <button class="addFollowerBtn btn btn-sm btn-primary" uid="{{ followerList.id }}"
                                ng-if="!(isFollowed(currentUserFollowing,followerList.id))"
                                ng-click="addFollowing(followerList)">
                            关注
                        </button>
                        <button class="deleteFollowerBtn btn btn-sm btn-default" uid="{{ followerList.id }}"
                                ng-if="isFollowed(currentUserFollowing,followerList.id)"
                                ng-click="deleteFollowing(followerList)">
                            取消关注
                        </button>
                    </div>
                    <div>
                        TA的关注：
                    <span>
                        <a href="/u/{{ followerList.id }}">
                            <span ng-bind="followerList.following.length"></span>
                        </a>
                    </span>
                    </div>

                    <div>
                        关注TA的：
                    <span>
                        <a href="/u/{{ followerList.id }}">
                            <span ng-bind="followerList.follower.length"></span>
                        </a>
                    </span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<script src="/js/lib/jquery-1.9.1.min.js"></script>
<script src="/js/lib/angular-1.3.15/angular.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/friend_follower.js"></script>
<script src="/js/searchInput.js"></script>
<% include ../footer.ejs %>