<% include ./header.ejs %>
</head>
<body>
<!--Navigator-->
<% if(user){ %>
<% include ./logined/navigator.ejs %>
<% }else{ %>
<div class="header">
    <h1>欢迎来到Everyone</h1>
    <div class="index"><a href="/">首页</a></div>
    <div class="post"><a href="/login">登录</a></div>
    <div class="friend"><a href="/register">注册</a></div>
</div>
<% } %>
<!--文章内容区块-->
<div class="postContent">
    <h2><%= post.object %></h2>

    <p class="info">
        作者：<%= post.name %>
        日期：<%= post.time.minute %>
    </p>

    <p>
        <%= post.content %>
    </p>
</div>
<!--评论区块-->
<div class="commentZone" id="commentZone">
    <% for(var i=post.comments.length;i>0;i--){ %>
    <p>
        <%= post.comments[i-1].commentUserID %>
        <%= post.comments[i-1].time.minute %>
    </p>
    <p><%= post.comments[i-1].comment %></p>
    <% } %>
</div>
<!--发送评论区块-->
<div class="postCommment">
    <% if(user){ %>
    <div class="addComment">
        <textarea name="" id="commentContent" cols="30" rows="2" placeholder="请输入评论"></textarea>
        <button type="button" id="submitComment">提交</button>
        <button type="reset" id="resetComment">清空</button>
    </div>
    <% }else{ %>
    <div class="addCommentDisable">
        请<a href="/login">登录</a>后再发表评论
    </div>
    <% } %>
</div>
<script src="/js/lib/jquery-1.9.1.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/detail.js"></script>
<% include ./footer.ejs %>