<% include ./header.ejs %>
<style>
    #searchResultList {
        border: solid 1px #e1e8ed;
        border-radius: 5px;
        padding: 15px;
    }

    img {
        float: left;
    }
</style>
</head>
<body>
<% include ./logined/navigator.ejs %>
<div id="searchResultList" class="container">
    <div id="searchResultByID" class="col-md-6">
        <p class="text-success">根据用户ID搜索到的结果</p>
        <hr/>
        <% if(searchResultByID){ %>
        <div class="searchResultUser container">
            <img src="<%= searchResultByID.user.avatar %>" class="img-circle"
                 width="108" height="108" alt="Avatar"/>

            <div>
                <p>
                    昵称：<strong><%= searchResultByID.user.name %></strong>
                </p>

                <p>
                    ID：<strong><%= searchResultByID.user.id %></strong>
                </p>
                <% if(searchResultByID.isFollowing){ %>
                <button uid="<%= searchResultByID.user.id %>" class="deleteFollowing btn btn-default">取消关注</button>
                <% }else{ %>
                <button uid="<%= searchResultByID.user.id %>" class="addFollowing btn btn-primary">关注</button>
                <% } %>
            </div>
        </div>
        <% }else{ %>
        <p class="text-danger">未查找到相关用户</p>
        <% } %>
    </div>
    <div id="searchResultByName" class="col-md-6">
        <p class="text-success">根据用户昵称搜索到的结果</p>
        <hr/>
        <% if(Object.keys(searchResultByName).length > 0){
        for(var i = 0;i < Object.keys(searchResultByName).length;i++){ %>
        <div class="searchResultUser container">
            <img src="<%= searchResultByName[i].user.avatar %>" class="img-circle"
                 width="108" height="108" alt="Avatar"/>

            <div>
                <p>
                    昵称：<strong><%= searchResultByName[i].user.name %></strong>
                </p>

                <p>
                    ID：<strong><%= searchResultByName[i].user.id %></strong>
                </p>
                <% if(searchResultByName[i].isFollowing){ %>
                <button uid="<%= searchResultByName[i].user.id %>" class="deleteFollowing btn btn-default">取消关注</button>
                <% }else{ %>
                <button uid="<%= searchResultByName[i].user.id %>" class="addFollowing btn btn-primary">关注</button>
                <% } %>
            </div>
        </div>
        <% }}else{ %>
        <p class="text-danger">未查找到相关用户</p>
        <% } %>
    </div>
</div>
<script src="/js/lib/jquery-1.9.1.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/search.js"></script>
<script src="/js/searchInput.js"></script>
<% include ./footer.ejs %>